main {
  padding:15px;
}



.byline {
  color: gray;
  padding-bottom: 20px;
}

.byline > *{
  display:inline;
  
  
}

.byline a {
  text-decoration:none;
  color: gray;
  font-style: italic;
  font-weight: bold;
}